<div class='row'>
  <div class='col-md-10 card'>
    <div class='card-header'>
      <h2>{{post.title}}</h2>
    </div>
    <div class='card-body'>
      <h3>{{post.content}}</h3>
      <h4 style='text-align: right'>Created by:
        {{post.user.username}}
        on
        {{format_date post.createdAt}}</h4>
    </div>
  </div>
</div>
{{#each post.comments as |comment|}}
  <div class='row'>
    <div class='col-md-10 card'>
      <div class='card-header'>
        <h2></h2>
      </div>
      <div class='card-body'>
        <h3>{{comment.content}}</h3>
        <h4 style='text-align: right'>
          {{comment.user.username}}
          on
          {{format_date comment.createdAt}}</h4>
      </div>
    </div>
  </div>
{{/each}}